# Python
__pycache__/
*.pyc
*.pyo

# Environnements
.venv/
venv/
env/

# Flatpak build
.flatpak-builder/
build-dir/
state/
tmp/
repo/
*.flatpak
*.flatpakref

# Base de données / fichiers temporaires
*.sqlite
*.log
*.tmp

# IDE / Cursor / VSCode
.cursor/
.cursorignore
.cursorindexingignore
.vscode/
.idea/

# OS
*.swp
*.swo
.DS_Store
